{% load static %}
{% load humanize %}

<div id="post-container" class="container">
    <div id="post-card" class="card post-card">
        <div class="card-body" id="post_{{ post.id }}">
            <!-- Link to detailed view of post -->
            <a href="{% url 'post' post.id %}">
                <span class="post-link"></span>
            </a>
            <!-- Profile picture and post info container -->
            <div class="post-inner-container">
                <!-- Profile picture -->
                <div class="profile-image-small">
                    <img src="{{ post.user.user_profile.avatar.url }}" alt="{{ post.user.username }}">
                </div>
                <!-- Post info -->
                <div>
                    <a id="user-name" class="user-name-link" href="{% url 'profile' post.user %}">{{ post.user }}</a>
                    <span id="post-timestamp" class="post-timestamp"> · {{ post.timestamp|naturaltime }}{% if post.edited %} · Edited{% endif %}</span>
                </div>
            </div>
            <!-- Post text -->
            <div id="post-text">{{ post.text }}</div>
            <!-- Post buttons -->
            <div id="post-buttons" class="btn-group" role="group">
                <button id="like-button" class="btn btn-default">
                    <span id="like-icon" class="far fa-heart"></span>
                    <span id="like-counter"></span>
                </button>
                <a href="{% url 'post' post.id %}" id="comment-button" class="btn btn-default">
                    <span id="comment-icon" class="far fa-comment"></span>
                    <span id="comment-counter">{{ post.post_comments.all|length }}</span>
                </a>
                {% if user == post.user %}
                    <button id="edit-button" type="button" class="btn btn-default">Edit</button>
                    <button id="delete-button" type="button" class="btn btn-default">Delete</button>
                {% endif %}
            </div>
        </div>
    </div>            
</div>

